body {
    background-color: powderblue;
    font-family: 'Poppins', sans-serif;

}
footer {
    background-color: red;
}
h1 {
    color: ;
    font-family: Regular 400;
    font-size: 100%;
}
h2 {   
    color: ;
    font-family: ExtraLight 200;
    font-size: 75%;
}
h3 {
    color: ;
    font-family: ExtraLight 200;
    font-size: 50%;
}
h3 profession {
}
p {
    color: ;
    font-family: Light 300;
    font-size: 30%;
}
.stats {
    background-color: #b9cc50;
}
.CV_Photo {
    border-radius: 25px;
    width: 500px;
    height: 500px;
}
.skill_bar {
    background-color: bisque;
    width: 350px;
    height: 10px;
}
.skill_bar_stat {
    background-color: black;
    width: 350px;
    height: 10px;
}
.divider {
    background-color: black;
    width: 500px;
    height: 1px;
}